.linker{
   display: flex;
   flex-wrap: wrap; /*wrapper rundt seg selv sånn at de ikke krasjer i hverandre */
   justify-content: space-around; /*setter space rundt hvert element i linker div */
}
input{
   margin-top: 5px;
   width: 350px;
   height: 300px;;
   background-color: beige;
}
input:hover{ /*ved mousehover endrer backgroundsfargen seg */
   background-color: rgba(245, 245, 220, 0.76);
}
h3{ /* Setter style på alle h3 elementene */
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   margin: 5px;
   font-size: 25px;
}
.raport{
   margin-top: 100px;
   display: flex;
   justify-content: center;
}